body {
  font-family: system-ui, system-ui, -apple-system, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
}

.slides-list {
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 5px;
  max-height: calc(100vh - 100px);
  width: 120px;
  background-color: var(--bg-color-island);
  backdrop-filter: saturate(100%) blur(10px);
  box-shadow: var(--shadow-island);
  border-radius: var(--border-radius-m);
  padding: calc(var(--padding) * var(--space-factor));
  display: flex;
  flex-direction: column;
}

.slides-list > ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.slides-list > ul > li {
  list-style: none;
  display: flex;
  height: 80px;
  margin: var(--space-factor) var(--space-factor) 0;
}

.slides-list > ul > li:last-of-type {
  margin-bottom: var(--space-factor);
}

.slides-list li ul {
  padding: 0 0 0 2px;
  display: flex;
  flex-direction: column;
}

.slides-list > ul > li > ul > li {
  list-style: none;
  flex: 1;
  margin-bottom: 2px;
  display: flex;
}

.slides-list > ul > li > ul > li:last-of-type {
  margin-bottom: 0;
}

.slides-list > ul > li > ul > li > button {
  flex: 1;
}

.layer-ui__wrapper__github-corner {
  display: none;
}

.toolbar {
  margin: 0;
  display: flex;
  align-items: stretch;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  bottom: var(--space-factor);
  left: calc(50vw - 136px / 2);
  height: 48px;
  width: 136px;
  background-color: var(--bg-color-island);
  backdrop-filter: saturate(100%) blur(10px);
  box-shadow: var(--shadow-island);
  border-radius: var(--border-radius-m);
  padding: calc(var(--padding) * var(--space-factor));
}

.toolbar li {
  list-style: none;
  display: flex;
  flex: 1;
  align-items: stretch;
  margin: var(--space-factor) 0 var(--space-factor) var(--space-factor);
}

.toolbar li:last-of-type {
  margin-right: var(--space-factor);
}

.button {
  cursor: pointer;
  background-color: var(--button-gray-1);
  -webkit-tap-highlight-color: transparent;
  border-radius: var(--space-factor);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.button.active {
  background-color: var(--button-gray-2);
}

.button:active {
  background-color: var(--button-gray-3);
}

.button:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px #a5d8ff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.import-export {
  display: flex;
  padding: 4px 4px 0;
  flex: 0;
}

.import-export .button {
  height: 40px;
  padding: 0;
}

.import-export .button:not(:last-child) {
  margin-right: 4px;
}

.import-export input[type='file'] {
  display: none;
}

.about-link {
  color: inherit;
  font-size: small;
  text-align: center;
  padding: 4px;
}

.modal-window {
  position: fixed;
  background-color: hsla(0, 0%, 100%, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
  pointer-events: none;
}

.modal-window:target {
  display: block;
  pointer-events: auto;
}

.modal-window > div {
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 50%);
  width: calc(100vw - 2rem);
  height: auto;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 1em 2em;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.modal-window .modal-close {
  align-self: flex-end;
  margin-top: -2.5rem;
  font-size: 0.9em;
}

.modal-window a {
  color: inherit;
}

.modal-window {
  line-height: 150%;
  font-size: 14px;
}

.modal-window p {
  margin-bottom: 0;
}
