body {
  font-family: system-ui, system-ui, -apple-system, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
}

.slides-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  top: 30;
  right: 5;
  max-height: 300;
  width: 100;
  background-color: var(--bg-color-island);
  backdrop-filter: saturate(100%) blur(10px);
  box-shadow: var(--shadow-island);
  border-radius: var(--border-radius-m);
  padding: calc(var(--padding) * var(--space-factor));
}

.slides-list li {
  list-style: none;
  display: flex;
  height: 60px;
  margin: var(--space-factor) var(--space-factor) 0;
}

.slides-list li:last-of-type {
  margin-bottom: var(--space-factor);
}

.layer-ui__wrapper__github-corner {
  display: none;
}

.toolbar {
  margin: 0;
  display: flex;
  align-items: stretch;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  bottom: var(--space-factor);
  left: calc(50vw - 136px / 2);
  height: 48px;
  width: 136px;
  background-color: var(--bg-color-island);
  backdrop-filter: saturate(100%) blur(10px);
  box-shadow: var(--shadow-island);
  border-radius: var(--border-radius-m);
  padding: calc(var(--padding) * var(--space-factor));
}

.toolbar li {
  list-style: none;
  display: flex;
  flex: 1;
  align-items: stretch;
  margin: var(--space-factor) 0 var(--space-factor) var(--space-factor);
}

.toolbar li:last-of-type {
  margin-right: var(--space-factor);
}

.button {
  cursor: pointer;
  background-color: var(--button-gray-1);
  -webkit-tap-highlight-color: transparent;
  border-radius: var(--space-factor);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.button.active {
  background-color: var(--button-gray-2);
}

.button:active {
  background-color: var(--button-gray-3);
}

.button:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px #a5d8ff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
